In [1]:
from textwrap import wrap
import pandas as pd
import re

In [ ]:
stacks = '''
    [D]    
[N] [C]    
[Z] [M] [P]'''.replace(' ','-').split('\n')
stacks = list(filter(None, stacks))

In [173]:
stacks = '''
                [B]     [L]     [S]
        [Q] [J] [C]     [W]     [F]
    [F] [T] [B] [D]     [P]     [P]
    [S] [J] [Z] [T]     [B] [C] [H]
    [L] [H] [H] [Z] [G] [Z] [G] [R]
[R] [H] [D] [R] [F] [C] [V] [Q] [T]
[C] [J] [M] [G] [P] [H] [N] [J] [D]
[H] [B] [R] [S] [R] [T] [S] [R] [L]'''.replace(' ','-').split('\n')
stacks = list(filter(None, stacks))

In [ ]:
df = pd.DataFrame([wrap(_,4) for _ in stacks][::-1], columns = list(range(1,10,1)))

In [175]:
df_clean = df.applymap(lambda x: x.replace('[','').replace(']','').replace('-',''))

In [177]:
store = {}
for i,vals in enumerate(df_clean.values.T):
    store[i+1] = list(filter(None, vals))

In [179]:
# instructions
instructions = pd.read_table('input.txt', sep = ' ', header = None)[[1,3,5]]
instructions.columns = ['move_nr','from', 'to']

In [180]:
instructions

     move_nr  from  to
0          8     7   1
1          9     1   9
2          4     5   4
3          4     6   1
4          3     8   5
..       ...   ...  ..
498        7     6   3
499        1     4   1
500        7     3   2
501        3     3   5
502        2     4   7

[503 rows x 3 columns]

In [181]:
# CrateMover 9000
store = {}
for i,vals in enumerate(df_clean.values.T):
    store[i+1] = list(filter(None, vals))
    
for _,row in instructions.T.iteritems():
    for i in range(0,row['move_nr']):
        element = store[row['from']].pop()
        store[row['to']].extend(element)

In [182]:
collect = []
for key in sorted(store.keys()):
    collect.append(store[key][-1])
print(''.join(collect))

SHQWSRBDL

In [183]:
# CrateMover 9001

In [191]:
store = {}
for i,vals in enumerate(df_clean.values.T):
    store[i+1] = list(filter(None, vals))
    
for _,row in instructions.T.iteritems():
    store[row['to']].extend(store[row['from']][-row['move_nr']:])
    store[row['from']] = store[row['from']][:-row['move_nr']]

In [192]:
collect = []
for key in sorted(store.keys()):
    try:
        collect.append(store[key][-1])
    except:
        collect.append(' ')
print(''.join(collect))

CDTQZHBRS